* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__container {
  width: "100%";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: rgba(255, 0, 0, 0.493);
  margin-bottom: 50px;
}

.header__container .header__logo img {
  width: 50px;
  border-radius: 50%;
}

.header__container .header__navigation {
  display: flex;
  gap: 20px;
}

.header__container .header__navigation a {
  color: white;
  text-decoration: none;
}

.info__container {
  margin: 0 auto;
  display: flex;
  width: fit-content;
  padding: 20px 50px;
  border-radius: 20px;
  border: 1px solid #fc02029d;
  box-shadow: 0px 0px 20px 20px rgba(252, 9, 9, 0.205);
  gap: 2rem;
}

.info__container .info__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 2rem;
  border-right: 1px solid #fc02029d;
}

.info__container .info__content .info__title {
  font-size: 20px;
  font-weight: bold;
  color: #fc02029d;
}

.info__container .info__content .info__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info__container .info__content .info__form label {
  color: #fc02029d;
  font-weight: 600;
}

.info__container .info__content .info__form input {
  width: 100%;
  padding: 10px 5px;
  padding-left: 20px;
  outline: none;
  border-radius: 20px;
  border: 1px solid #fc02029d;
  color: #fc02029d;
}

.info__container .info__content .info__form .info__choose {
  display: flex;
  gap: 40px;
}

.info__container .info__content .info__form .info__options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info__container .info__content .info__form .info__options input {
  width: fit-content;
}

.info__container .info__content .info__form button {
  background-color: #fc02029d;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

.info__container .info__show {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.info__container .info__show .info__block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid #fc02029d;
  padding-bottom: 2rem;
}

.info__container .info__show .info__block .info__title {
  font-size: 20px;
  font-weight: bold;
  color: #fc02029d;
}

.info__container .info__show .info__block .info__item {
  display: flex;
  gap: 1.25rem;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.info__container .info__show .info__block .info__item i {
  font-size: 20px;
  color: #fc02029d;
}

.info__container .info__show .info__block .info__item .info__item__title {
  width: 150px;
}

.info__container .info__show .info__block .info__item .info__item__title label {
  font-size: 18px;
  font-weight: bold;
}

.info__container .info__show .info__block .info__item .info__item__title input {
  font-size: 15px;
  width: 150px;
  border: 1px solid #fc02029d;
  border-radius: 20px;
  padding: 0.25rem 0;
  padding-left: 0.5rem;
}

.info__container .info__show .info__block .info__item button {
  font-size: 15px;
  padding: 5px;
  background-color: #fc02029d;
  outline: none;
  border: none;
  color: white;
  border-radius: 20px;
  width: 90px;
}
/*# sourceMappingURL=infoUser.css.map */