
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__container {
  width: "100%";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: rgba(255, 0, 0, 0.493);
  margin-bottom: 50px;
}

.header__container .header__logo img {
  width: 50px;
  border-radius: 50%;
}

.header__container .header__navigation {
  display: flex;
  gap: 20px;
}

.header__container .header__navigation a {
  color: white;
  text-decoration: none;
}

.find__toolbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-bottom: 25px;
  font-size: 20px;
  color: #fc02029d;
}

.find__toolbar input {
  color: #fc02029d;
  outline: none;
  padding: 0px 10px;
  border: 1px solid #fc02029d;
}

.find__toolbar button {
  background-color: #fc02029d;
  color: white;
  padding: 0.5rem;
  outline: none;
  border-radius: 20px;
  border: none;
}

.home__list__news {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.home__list__news .homoe__pagination {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home__list__news .homoe__pagination span {
  font-size: 20px;
  font-weight: bold;
}

.home__list__news .homoe__pagination button {
  width: 75px;
  background-color: #fc02029d;
  color: white;
  padding: 0.5rem;
  outline: none;
  border-radius: 20px;
  border: none;
}

.home__list__news .home__news {
  margin: 0 0.6rem;
  padding: 5px;
  border: 1px solid #fc02029d;
  width: fit-content;
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}

.home__list__news .home__news img {
  width: 200px;
}

.home__list__news .home__news .news__description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.home__list__news .home__news .news__description .news__owner {
  font-size: 25px;
  font-weight: bold;
  color: #fc02029d;
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home__list__news .home__news .news__description .news__date {
  font-size: 20px;
  font-weight: bold;
  color: #fc02029d;
}

.home__list__news .home__news .news__description button {
  background-color: #fc02029d;
  color: white;
  padding: 0.5rem;
  outline: none;
  border-radius: 20px;
  border: none;
}
