* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__container {
  width: "100%";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: rgba(255, 0, 0, 0.493);
  margin-bottom: 50px;
}

.header__container .header__logo img {
  width: 50px;
  border-radius: 50%;
}

.header__container .header__navigation {
  display: flex;
  gap: 20px;
}

.header__container .header__navigation a {
  color: white;
  text-decoration: none;
}

.manage__news__container {
  padding: 0 1rem;
}

.manage__news__container .account__find {
  padding: 15px;
  border: 1px solid #fc02029d;
  display: flex;
  width: fit-content;
}

.manage__news__container .account__find input {
  border: none;
  outline: none;
  border-bottom: 1px solid #fc02029d;
  color: #fc02029d;
  padding: 5px;
}

.manage__news__container .account__find #find__option {
  border: none;
  outline: none;
  color: #fc02029d;
  border-bottom: 1px solid #fc02029d;
}

.manage__news__container .account__find button {
  margin-left: 1rem;
  padding: 0 10px;
  color: white;
  background-color: #fc02029d;
  outline: none;
  border: none;
}

.manage__news__container .news__tool {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
  align-items: center;
}

.manage__news__container .news__table {
  position: relative;
  height: 60vh;
  border: 1px solid #fc02029d;
}

.manage__news__container .news__table .create__news {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  height: fit-content;
  padding: 10px;
  background-color: #06864b9d;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
}

.manage__news__container .news__table .table__pagination {
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.manage__news__container .news__table .table__pagination span {
  font-size: 20px;
  font-weight: bold;
}

.manage__news__container .news__table .table__pagination button {
  width: 75px;
  background-color: #fc02029d;
  color: white;
  padding: 0.5rem;
  outline: none;
  border-radius: 20px;
  border: none;
}

.manage__news__container .news__table .table__title {
  display: flex;
  justify-content: space-between;
  color: #fc02029d;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.manage__news__container .news__table .table__title .title__item {
  padding: 0.5rem 0;
  flex-basis: 20%;
  border: 1px solid #fc02029d;
}

.manage__news__container .news__table .table__content {
  height: 50vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.manage__news__container .news__table .table__content .content__item {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.manage__news__container .news__table .table__content .content__item .content__des {
  padding: 0.5rem 0;
  flex-basis: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.manage__news__container .news__table .table__content .content__item .content__des button {
  background-color: #fc02029d;
  color: white;
  padding: 0.5rem;
  outline: none;
  border-radius: 20px;
  border: none;
}
/*# sourceMappingURL=manage_news.css.map */